body {
    background-color: aquamarine;
}

.container {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    background-color: white;
    color: gray;
    border: 3px solid back;
    padding: 50px;
    margin-top: 50px;
}

.title {
    font-size: 48px;
    text-align: center;
}

#start {
    margin-top: 30px;
    text-align: center;
}

#timer {
    text-align: center;
}


